Repository rclone/rclone, pull requests merged in 2020-10, with the labels that each got.

#4662 drive: Added flag to stop when the download limit is exceeded
  backend/drive/drive.go
Labels: hacktoberfest-accepted

#4690 mailru: accept special folders eg camera-upload (fixes #4025)
  backend/mailru/mailru.go
Labels: Remote: Mailru, bug

#4617 mailru: avoid prehashing of large local files
  backend/mailru/mailru.go
Labels: Remote: Mailru, enhancement

#4614 chunker: avoid prehashing of large local files, hash in-transit (fixes #4021)
  backend/chunker/chunker.go
Labels: Remote: Chunker, enhancement

#4612 Update rclone_mount.md
  docs/content/commands/rclone_mount.md
Labels: doc fix

#4613 Update rclone_mount.md
  docs/content/commands/rclone_mount.md
Labels: doc fix

#4686 Update ftp.go - ftps flag docs
  backend/ftp/ftp.go
Labels: doc fix
