Repository rclone/rclone, pull requests merged in 2020-12, with the labels that each got.

#4826 s3: Added error code 429 as a retriable error
  backend/s3/s3.go
Labels: Remote: S3, enhancement

#4821 fs/operations: collect operation objects concurrently
  fs/march/march.go
Labels: concurrency

#4845 Buildx action upgrade
  .github/workflows/build_publish_docker_image.yml
  .github/workflows/build_publish_release_docker_image.yml
Labels: build, maintenance

#4838 backend/tardigrade: Upgrade to uplink v1.4.1
  go.mod
  go.sum
Labels: Remote: Tardigrade, maintenance

#4836 gcs: Storage class object header support - fixes #3043
  backend/googlecloudstorage/googlecloudstorage.go
  docs/content/googlecloudstorage.md
Labels: Remote: Google Cloud Storage, enhancement

#4876 faq.md - fix typo
  docs/content/faq.md
Labels: doc fix

#4871 fshttp: prevent overlap of HTTP headers in logs
  fs/fshttp/http.go
Labels: enhancement

#4606 plugins: Create plugins files only if webui is enabled.
  fs/rc/rcserver/rcserver.go
  fs/rc/webgui/plugins.go
  fs/rc/webgui/rc.go
  fs/rc/webgui/rc_test.go
Labels: Web GUI, needs retest

#4803 operations: Add a download flag to hashsum and related commands to force rclone to download and hash files locally
  cmd/dbhashsum/dbhashsum.go
  cmd/hashsum/hashsum.go
  cmd/md5sum/md5sum.go
  cmd/progress.go
  cmd/sha1sum/sha1sum.go
  docs/content/commands/rclone_hashsum.md
  docs/content/commands/rclone_md5sum.md
  docs/content/commands/rclone_sha1sum.md
  fs/operations/operations.go
  fs/operations/operations_test.go
Labels: enhancement, hashing

#4833 s3: add requester pays option - fixes #301
  backend/s3/s3.go
Labels: Remote: S3, enhancement

#4861 docs: fix invalid option name in example of crypt config
  docs/content/crypt.md
Labels: doc fix

#4864 Update onedrive.md
  docs/content/onedrive.md
Labels: doc fix

#4075 swift: fix deletion of static large object
  backend/swift/swift.go
Labels: Remote: Swift

#4820 azureblob: add managed identity support
  backend/azureblob/azureblob.go
  backend/azureblob/imds.go
  backend/azureblob/imds_test.go
  lib/pacer/pacer_test.go
  lib/pacer/pacers.go
Labels: Remote: Azure Blob

#4870 azureblob: update azure-storage-blob-go to v0.12.0
  backend/azureblob/azureblob.go
  go.mod
  go.sum
Labels: Remote: Azure Blob, maintenance

#4168 Make ncdu more robust in case of errors
  cmd/ncdu/ncdu.go
  cmd/ncdu/scan/scan.go
Labels: UX, needs retest, waiting for reply :hourglass_flowing_sand:

#4711 ncdu: add empty folder flag into ncdu browser
  cmd/ncdu/ncdu.go
Labels: UX, enhancement

#4868 systemd log integration
  fs/log/log.go
  fs/log/systemd.go
  fs/log/systemd_unix.go
Labels: enhancement, integration
