Repository rclone/rclone, pull requests merged in 2020-11, with the labels that each got.

#4744 jottacloud: docs: add heading to the example section
  docs/content/jottacloud.md
Labels: Remote: Jottacloud, doc fix

#4714 mount: docs: make note about mounting as network drive in windows less confusing
  cmd/mountlib/mount.go
Labels: VFS / mount, doc fix

#4628 drive: implement CleanUp workaround for team drives - fixes #2418
  backend/drive/drive.go
Labels: Remote: Drive

#4772 ftp: add options to enable TLS - fixes 3640
  cmd/serve/ftp/ftp.go
Labels: Remote: FTP, Servers (any), enhancement

#4787 Fixed links to VFS FIle Caching section
  docs/content/commands/rclone_mount.md
Labels: doc fix

#4774 mfs limitation ftp remote
  docs/content/ftp.md
  docs/content/overview.md
Labels: Remote: FTP, doc fix

#4765 docs: update documentation of commands delete,purge,rmdir,rmdirs
  cmd/delete/delete.go
  cmd/purge/purge.go
  cmd/rmdir/rmdir.go
  cmd/rmdirs/rmdirs.go
Labels: UX, doc fix

#4785 parseduration: fixed tests to use UTC time
  fs/parseduration_test.go
Labels: maintenance

#4800 accounting: remove data race in Transferred() (#4799)
  fs/accounting/stats.go
Labels: test failure

#4782 cmount: Add optional `brew` tag
  cmd/cmount/mount_brew.go
  cmd/cmount/mount_unsupported.go
  cmd/mount/mount_unsupported.go
Labels: OS: Mac, build, maintenance

#4807 About command docs
  cmd/about/about.go
  docs/README.md
  docs/content/amazonclouddrive.md
  docs/content/azureblob.md
  docs/content/b2.md
  docs/content/box.md
  docs/content/fichier.md
  docs/content/ftp.md
  docs/content/googlecloudstorage.md
  docs/content/googlephotos.md
  docs/content/http.md
  docs/content/opendrive.md
  docs/content/overview.md
  docs/content/qingstor.md
  docs/content/s3.md
  docs/content/sharefile.md
  docs/content/sugarsync.md
  docs/content/tardigrade.md
Labels: doc fix

#4816 Fixed verbal tense
  docs/content/googlephotos.md
Labels: doc fix
