Repository rclone/rclone, pull requests merged in 2021-10, with the labels that each got.

#5590 ftp: fix deadlock after failed update when concurrency=1
  backend/ftp/ftp.go
Labels: bug, Remote: FTP

#5623 lib/http: Add auth to http service
  cmd/serve/http/http.go
Labels: bug, Servers (any)

#5401 Improve MkdirAll on Windows
  backend/local/local.go
  cmd/copy/copy.go
  cmd/gendocs/gendocs.go
  cmd/selfupdate/selfupdate_test.go
  cmd/serve/docker/docker_test.go
  cmd/serve/docker/driver.go
  cmd/serve/docker/serve.go
  cmd/serve/docker/unix.go
  cmd/serve/docker/volume.go
  cmd/serve/sftp/server.go
  cmd/test/makefiles/makefiles.go
  fs/config/config.go
  fs/config/configfile/configfile.go
  fs/rc/webgui/webgui.go
  fstest/run.go
  fstest/test_all/report.go
  lib/file/mkdir_other.go
  lib/file/mkdir_windows.go
  lib/file/mkdir_windows_test.go
  vfs/test_vfs/test_vfs.go
  vfs/vfscache/cache.go
Labels: OS: Windows, refactoring

#5663 docs/ftp: state clearly that active mode is not supported
  docs/content/ftp.md
Labels: doc fix, Remote: FTP

#5657 ftp: set correct encoding in integration tests with ProFtpd,PureFtpd,VsFtpd
  docs/content/ftp.md
  fstest/test_all/config.yaml
Labels: doc fix, Remote: FTP, test failure

#5766 docs: note that destination is always a directory
  docs/content/commands/rclone_copy.md
  docs/content/commands/rclone_move.md
Labels: doc fix, UX

#5771 docs/mount: add note that to execute programs one must set custom filesystem permissions
  cmd/mountlib/help.go
Labels: doc fix, VFS / mount, OS: Windows
