Repository rclone/rclone, pull requests merged in 2021-07, with the labels that each got.

#5411 Add google search widget to rclone.org
  docs/layouts/_default/baseof.html
  docs/layouts/chrome/navbar.html
  docs/static/js/search.js
Labels: Website, doc fix

#4329 accounting: use rolling average for speed display - fixes #3909
  fs/accounting/stats.go
  fs/accounting/stats_groups.go
  go.sum
Labels: UX, bandwidth, needs retest

#5408 docs: add note about use of user and logname environment variables for current username
  docs/content/docs.md
  docs/content/tardigrade.md
Labels: doc fix

#5297 local: skip files removed concurrently with `List`
  backend/local/local.go
  fs/sync/sync.go
  fs/sync/sync_test.go
Labels: LocalFS, bug, concurrency

#5423 docs: added tip to reduce SharePoint throttling - fixes #5404
  docs/content/onedrive.md
Labels: Remote: One Drive, doc fix

#5479 fs/operations: add rmdirs -v output - fixes #5464
  fs/operations/operations.go
Labels: UX, enhancement, good first issue

#5481 http: fix serve http exits directly after starting
  cmd/serve/http/http.go
  lib/http/http.go
Labels: Point Release Candidate, Servers (any), bug

#5482 mountlib: restore daemon mode after #5415
  cmd/mountlib/mount.go
  cmd/serve/docker/volume.go
Labels: Point Release Candidate, VFS / mount, bug
