Repository rclone/rclone, pull requests merged in 2021-08, with the labels that each got.

#5504 doc: fix instructions regarding gdrive
  docs/content/drive.md
Labels: doc fix, Remote: Drive

#5526 serve/docker: fix racy tests on macOS/windows
  cmd/serve/docker/docker_test.go
  cmd/serve/docker/driver.go
Labels: test failure

#5530 cmd/mount: remind that --fast-list does nothing on a mount
  cmd/mountlib/mount.go
Labels: VFS / mount, UX

#5531 pcloud: add sha256 support - fixes #5496
  backend/pcloud/pcloud.go
  docs/content/commands/rclone_hashsum.md
  docs/content/pcloud.md
  fs/hash/hash.go
  fs/hash/hash_test.go
Labels: Remote: PCloud

#5402 cmd/version: add support for openbsd/amd64
  go.mod
  go.sum
  lib/buildinfo/osversion.go
  lib/buildinfo/osversion_openbsd.go
  lib/buildinfo/osversion_openbsd_386.go
  lib/buildinfo/osversion_windows.go
Labels: enhancement, build

#5539 docs/vfs: Merge duplicate chunked reading documentation from mount docs.
  cmd/mountlib/help.go
  vfs/help.go
Labels: doc fix

#5555 docs/config: remove use of backticks around words within a larger code block
  cmd/config/config.go
Labels: doc fix
