Repository rclone/rclone, pull requests merged in 2021-09, with the labels that each got.

#5567 cmd/version: add support for openbsd/386
  go.mod
  go.sum
  lib/buildinfo/osversion.go
  lib/buildinfo/osversion_openbsd_386.go
Labels: enhancement, build

#5568 build: update Go to 1.16 and NDK to 22b for android/any
  .github/workflows/build.yml
Labels: build, OS: Android

#5571 test: skip mount2 test on CI runners
  cmd/mount2/mount_test.go
Labels: test failure

#5607 seafile: fix 2fa state machine
  backend/seafile/seafile.go
  backend/seafile/seafile_internal_test.go
Labels: bug, Remote: Seafile

#5614 build: update golang.org/x/sys for go1.17 build
  go.mod
  go.sum
Labels: build

#5633 Grammar/readability: 2 messages now in 2 sentences
  backend/crypt/crypt.go
  docs/content/crypt.md
Labels: doc fix, Remote: Crypt

#5629 docs: cleanup header levels
  docs/content/authors.md
  docs/content/docs.md
  docs/content/downloads.md
  docs/content/faq.md
  docs/content/install.md
  docs/content/licence.md
Labels: doc fix

#5634 jottacloud: implement SetModTime to support modtime-only changes
  backend/jottacloud/jottacloud.go
Labels: enhancement, Remote: Jottacloud
