Repository rclone/rclone, pull requests merged in 2021-11, with the labels that each got.

#5725 Librclone python free
  librclone/python/rclone.py
Labels: librclone

#5756 docs/librclone: document that strings are utf8 encoded
  librclone/librclone.go
Labels: doc fix, librclone

#5666 librclone: Add mention of Rust bindings for `librclone`
  librclone/README.md
Labels: doc fix, librclone

#5635 docs: add faq section explaining why rclone changes fullwidth characters in file names
  docs/content/faq.md
  docs/content/local.md
  docs/content/overview.md
Labels: doc fix, encoding

#5636 Add note about S3 compatible services
  docs/content/overview.md
Labels: doc fix, Remote: S3

#5737 url: oracle cloud storage link fix
  docs/content/_index.md
  docs/content/swift.md
Labels: doc fix, Remote: Swift

#5563 docs: describe the --human-readable option in more detail
  docs/content/docs.md
Labels: doc fix, UX

#5578 docs/jottacloud: update description of whitelabel services
  README.md
  docs/content/docs.md
  docs/content/jottacloud.md
Labels: doc fix, Remote: Jottacloud

#5704 docs/sftp: more detailed explanation of pubkey file and certificate
  docs/content/sftp.md
Labels: doc fix, Remote: SFTP

#5719 docs: remove application type "other" from drive.md
  docs/content/drive.md
Labels: doc fix, Remote: Drive

#5773 serve sftp: fix typo
  cmd/serve/sftp/connection.go
Labels: doc fix, Serving

#5606 config: allow dot in remote names
  docs/content/docs.md
  fs/fspath/path.go
  fs/fspath/path_test.go
Labels: configuration

#5770 lib/encoder: fix benchmarks
  lib/encoder/encoder_test.go
Labels: test issue

#5774 sync/test: skip test ConcurrentTruncate on uptobox (take 2)
  fs/sync/sync_test.go
Labels: test issue

#5088 WIP / RFC: s3: Use ListObjectsV2 for much faster listings
  backend/s3/s3.go
Labels: maintenance, Remote: S3

#5361 Improve grammar, fix typos
  .github/ISSUE_TEMPLATE/Bug.md
  CONTRIBUTING.md
  MAINTAINERS.md
  README.md
  backend/crypt/cipher.go
  backend/googlephotos/googlephotos.go
  backend/http/http.go
  backend/mailru/mailru.go
  backend/mega/mega.go
  backend/onedrive/onedrive.go
  backend/webdav/webdav.go
  bin/nfpm.yaml
  cmd/about/about.go
  cmd/backend/backend.go
  cmd/check/check.go
  cmd/config/config.go
  cmd/dedupe/dedupe.go
  cmd/ls/lshelp/lshelp.go
  cmd/lsf/lsf.go
  cmd/lsjson/lsjson.go
  cmd/mountlib/help.go
  cmd/obscure/obscure.go
  cmd/serve/restic/restic.go
  cmd/tree/tree.go
  docs/README.md
  docs/content/_index.md
  docs/content/amazonclouddrive.md
  docs/content/bugs.md
  docs/content/changelog.md
  docs/content/chunker.md
  docs/content/crypt.md
  docs/content/docs.md
  docs/content/donate.md
  docs/content/faq.md
  docs/content/filtering.md
  docs/content/gui.md
  docs/content/install.md
  docs/content/jottacloud.md
  docs/content/memory.md
  docs/content/overview.md
  docs/content/privacy.md
  docs/content/rc.md
  docs/content/s3.md
  fs/accounting/token_bucket.go
  fs/cache/cache_test.go
  fs/open_options.go
  fs/operations/lsjson.go
  fs/operations/operations.go
  fs/parseduration.go
  fs/walk/walk.go
  fs/walk/walk_test.go
  fstest/fstests/fstests.go
  fstest/test_all/config.go
  fstest/test_all/report.go
  lib/bucket/bucket.go
  lib/cache/cache_test.go
  lib/structs/structs.go
  vfs/dir_test.go
  vfs/vfscache/cache_test.go
Labels: doc fix, IMPORTANT

#5788 backend/ftp: increase testUploadTimeout.maxTime to 10 seconds
  backend/ftp/ftp_internal_test.go
Labels: Remote: FTP, test issue

#5778 Improve description for SeaweedFS
  docs/content/s3.md
Labels: doc fix, Remote: S3

#5792 backend: Fix union eplus policy returned nil
  backend/union/policy/eplus.go
Labels: bug, Remote: Union, Point Release Candidate

#5349 🧪 `fstest.Run`: add convenience methods to check local and remote fs with precision
  backend/local/local_internal_test.go
  cmd/touch/touch_test.go
  fs/operations/check_test.go
  fs/operations/dedupe_test.go
  fs/operations/listdirsorted_test.go
  fs/operations/lsjson_test.go
  fs/operations/multithread_test.go
  fs/operations/operations_test.go
  fs/operations/rc_test.go
  fs/sync/rc_test.go
  fs/sync/sync_test.go
  fstest/fstest.go
  fstest/run.go
  vfs/dir_handle_test.go
  vfs/dir_test.go
  vfs/file_test.go
  vfs/read_test.go
  vfs/read_write_test.go
  vfs/vfs_case_test.go
  vfs/vfs_test.go
Labels: enhancement, test issue

#5427 s3: Adding RackCorp Object Storage to S3 definitions
  README.md
  backend/s3/s3.go
  docs/content/s3.md
Labels: Remote: S3, new feature

#5662 rc: error on web GUI update won't be fatal - fixes #5385
  fs/rc/rcserver/rcserver.go
Labels: UX, API / rc

#5173 ftp: add --ftp-ask-password to prompt for password when needed
  backend/ftp/ftp.go
  docs/content/ftp.md
Labels: enhancement, Remote: FTP, needs rebase

#5799 jottacloud: Add support for Tele2 Cloud
  backend/jottacloud/jottacloud.go
  docs/content/jottacloud.md
Labels: Remote: Jottacloud

#5797 Add Move support to the HDFS backend
  backend/hdfs/fs.go
  docs/content/overview.md
Labels: enhancement, Remote: HDFS

#5804 sftp: fix typo
  backend/sftp/sftp.go
Labels: doc fix, Remote: SFTP

#5805 serve sftp: update docs on --stdio
  cmd/serve/sftp/sftp.go
Labels: doc fix, Serving

#5582 fshttp: add prometheus metrics for HTTP status code
  fs/fshttp/http.go
  fs/fshttp/prometheus.go
  fs/rc/rcserver/rcserver.go
Labels: needs rebase, stats

#5488 fstests: treat accountUpgradeRequired as success for OneDrive PublicLink
  fstest/fstests/fstests.go
Labels: Remote: One Drive, test issue

#5511 fs/operations: add server-side moves to stats - fixes #5430
  fs/operations/operations.go
Labels: stats

#5830 docs: more explicit doc for --all with params
  docs/content/commands/rclone_config_create.md
Labels: doc fix
