Repository rclone/rclone, pull requests merged in 2021-01, with the labels that each got.

#4761 onedrive: Support addressing site by server-relative URL
  backend/onedrive/onedrive.go
Labels: Remote: One Drive, enhancement

#3533 azure-blob-storage: utilize streaming capabilities - #1614
  backend/azureblob/azureblob.go
  backend/azureblob/azureblob_test.go
  docs/content/azureblob.md
Labels: Remote: Azure Blob, concurrency, enhancement

#4917 chunker: improve detection of incompatible metadata
  backend/chunker/chunker.go
Labels: Point Release Candidate, Remote: Chunker, bug

#4902 chunker: test detection of incompatible metadata, fix NewObject on case-insensitive filesystem
  backend/chunker/chunker.go
  backend/chunker/chunker_internal_test.go
  docs/content/chunker.md
Labels: Remote: Chunker, bug

#4432 docs: Updated crypt/cryptdecode docs with additional info
  cmd/cryptdecode/cryptdecode.go
  docs/content/crypt.md
Labels: doc fix

#4796 update ftp.md with note about active mode
  docs/content/ftp.md
Labels: Remote: FTP, doc fix

#4852 docs: fix references to upstreams in union example
  docs/content/union.md
Labels: Remote: Union, doc fix

#4806 crypt: docs: extended description
  docs/content/crypt.md
Labels: Remote: Crypt, doc fix

#3900 rc/jobs: add finished job listener
  fs/rc/jobs/job.go
  fs/rc/jobs/job_test.go
Labels: API / rc, enhancement, fsnotify / events, integration, refactoring

#4945 Changes to rclone filtering documentation (recovered) #4767
  docs/content/filtering.md
Labels: doc fix, filtering

#4276 docs: fix markup of arguments
  cmd/cat/cat.go
  cmd/check/check.go
  cmd/copy/copy.go
  cmd/delete/delete.go
  cmd/ls/lshelp/lshelp.go
  cmd/mountlib/mount.go
  cmd/move/move.go
  vfs/help.go
Labels: doc fix

#4573 Fix test failure in different local time zones
  fs/parseduration.go
  fs/parseduration_test.go
Labels: needs rebase, test failure

#4960 local: new flag --local-zero-size-links to fix sync on some virtual filesystems
  backend/local/local.go
Labels: Remote: Local filesystem, enhancement

#4623 drive: add system office icons to .desktop google drive links
  backend/drive/drive.go
Labels: Remote: Drive, UX, enhancement

#4974 build: replace go 1.16-beta1 by 1.16-rc1
  .github/workflows/build.yml
Labels: build

#4975 fstest: apply shellcheck on rclone-serve.bash
  fstest/testserver/init.d/rclone-serve.bash
Labels: build

#4963 New OneDrive 21vianet / National implementation
  backend/onedrive/onedrive.go
  backend/onedrive/onedrive_test.go
Labels: Remote: One Drive, enhancement

#4769 vfs: fix invalid cache path on windows when using :backend: as remote
  vfs/vfscache/cache.go
Labels: OS: Windows, VFS / mount, bug, needs rebase

#4454 Add examples for Azure Blob Access Tier to documentation
  docs/content/azureblob.md
Labels: Remote: Azure Blob, doc fix
