Repository rclone/rclone, pull requests merged in 2021-03, with the labels that each got.

#5093 address stringent ineffectual assignment check in golangci-lint
  backend/cache/cache_internal_test.go
  backend/chunker/chunker_internal_test.go
Labels: IMPORTANT, Point Release Candidate, build, test failure

#5097 ftp: update dependency jlaffaye/ftp
  go.mod
  go.sum
Labels: Remote: FTP, maintenance

#5092 dropbox: fix polling support for scoped apps - fixes #5089
  backend/dropbox/dropbox.go
Labels: Remote: Dropbox, bug

#5018 mount: docs: add note about volume path syntax on windows
  docs/content/docs.md
  docs/content/local.md
Labels: doc fix

#5085 rcd: Added systemd notification during the 'rclone rcd' command call.
  cmd/rcd/rcd.go
Labels: OS: Unix, Servers (any), integration

#3648 dedupe: make largest directory primary
  backend/drive/drive.go
  backend/opendrive/opendrive.go
  fs/dir.go
  fs/fs.go
  fs/operations/dedupe.go
Labels: Remote: Drive, change detection, enhancement, waiting for reply...

#5080 cmd: rclone selfupdate
  .gitignore
  cmd/all/all.go
  cmd/cmd.go
  cmd/selfupdate/help.go
  cmd/selfupdate/selfupdate.go
  cmd/selfupdate/selfupdate_test.go
  cmd/selfupdate/verify.go
  cmd/selfupdate/writable_unix.go
  cmd/selfupdate/writable_unsupported.go
  cmd/selfupdate/writable_windows.go
  cmd/version/version.go
Labels: UX, maintenance

#5113 docs: cleanup optional feature table
  docs/content/overview.md
Labels: doc fix

#4431 docs: Updated sync and dedupe command docs #4429
  cmd/dedupe/dedupe.go
  cmd/sync/sync.go
Labels: doc fix, regional

#5122 docs: mention rclone selfupdate in quickstart
  docs/content/install.md
Labels: doc fix

#5128 local: make nounc advanced option except on windows
  backend/local/local.go
Labels: Remote: Local filesystem

#5048 azureblob: Add container public access level support. Fixes #5045
  backend/azureblob/azureblob.go
Labels: Remote: Azure Blob, enhancement

#5133 docs: describe how to bypass loading of config file
  docs/content/docs.md
Labels: doc fix

#5118 docs: add note about limitation with pattern-list to filtering docs
  docs/content/filtering.md
Labels: doc fix

#5095 copyurl: add option to print resulting auto-filename
  cmd/copyurl/copyurl.go
  fs/operations/operations.go
Labels: enhancement

#5141 selfupdate: add instructions on reverting the update
  cmd/selfupdate/help.go
  cmd/selfupdate/selfupdate.go
Labels: UX, doc fix, maintenance

#5147 install.sh: fail on download errors
  docs/content/install.sh
Labels: OS: Mac, bug, maintenance

#5138 crypt: log hash ok on upload
  backend/crypt/crypt.go
Labels: Remote: Crypt, hashing

#5084 swift: support copying large objects
  backend/swift/swift.go
  backend/swift/swift_test.go
  go.mod
Labels: Remote: Swift, enhancement

#5167 build: replace xgo with NDK for Android builds
  .github/workflows/build.yml
Labels: build, enhancement

#5142 docs: add short description of configuration file format
  docs/content/docs.md
Labels: doc fix

#5096 backlog: ticket templates should recommend to update rclone
  .github/ISSUE_TEMPLATE/Bug.md
  .github/ISSUE_TEMPLATE/Feature.md
Labels: doc fix, maintenance
