Repository rclone/rclone, pull requests merged in 2021-06, with the labels that each got.

#5357 Add SeaweedFS
  README.md
  backend/s3/s3.go
  docs/content/_index.md
  docs/content/s3.md
Labels: Remote: S3

#5389 docs: fix code section formatting in filtering docs
  docs/content/filtering.md
Labels: doc fix, filtering

#5388 docs: fix incorrect syntax in config update example
  cmd/config/config.go
Labels: doc fix

#5382 deprecate cache backend
  README.md
  backend/cache/cache.go
  docs/content/_index.md
  docs/content/cache.md
  docs/content/docs.md
  docs/layouts/chrome/navbar.html
Labels: Remote: Cache, maintenance

#5405 fs: split overgrown fs.go
  fs/configmap.go
  fs/features.go
  fs/fs.go
  fs/newfs.go
  fs/open_options.go
  fs/open_options_test.go
  fs/pacer.go
  fs/registry.go
  fs/types.go
Labels: refactoring

#5417 onedrive: Make link return direct download link
  backend/onedrive/onedrive.go
Labels: Remote: One Drive, enhancement
