Repository rclone/rclone, pull requests merged in 2021-02, with the labels that each got.

#4978 Update sgzip - fixes #4970
  go.mod
  go.sum
Labels: Remote: Compress, bug

#4988 Update MANUAL.md
  docs/content/mailru.md
Labels: Remote: Mailru, doc fix

#5013 Docs: Update filtering.md - correct rfc3339 example
  docs/content/filtering.md
Labels: doc fix

#5010 Docs: Update filtering.md - remote root example
  docs/content/filtering.md
Labels: doc fix

#5007 Docs: Update ftp.md - nesting of backticks and link
  docs/content/ftp.md
Labels: doc fix

#5006 Docs: Update filtering.md - typos
  docs/content/filtering.md
Labels: doc fix

#4266 Add DSCP support
  backend/ftp/ftp.go
  docs/content/docs.md
  docs/content/flags.md
  fs/config.go
  fs/config/configflags/configflags.go
  fs/fshttp/dialer.go
  fs/fshttp/http.go
Labels: bandwidth, enhancement

#4983 local: Add flag --no-preallocate - #3207
  backend/local/local.go
  docs/content/local.md
Labels: Remote: Local filesystem, enhancement

#5025 Docs: Zoho WorkDrive authorisation reword
  docs/content/zoho.md
Labels: doc fix

#4554 feat: add multiple paths support to `--compare-dest` and `--copy-dest`
  fs/cache/cache.go
  fs/config.go
  fs/config/configflags/configflags.go
  fs/operations/operations.go
  fs/operations/operations_test.go
  fs/sync/sync.go
  fs/sync/sync_test.go
Labels: UX, filtering

#5032 Docs: badly formed link
  docs/content/filtering.md
Labels: doc fix

#5034 Docs:Convert bogus example link to code
  docs/content/cache.md
Labels: doc fix

#5036 build: replace go 1.16-rc1 by 1.16.x
  .github/workflows/build.yml
Labels: build

#5028 docker.bash: work correctly with multi-ip containers
  fstest/testserver/init.d/docker.bash
  fstest/testserver/testserver.go
Labels: build

#2981 crypt: add option to not encrypt data #1077
  backend/crypt/crypt.go
  backend/crypt/crypt_test.go
Labels: Remote: Crypt, enhancement

#5002 mount: docs: document the new FileSecurity option in WinFsp 2021
  cmd/mountlib/mount.go
Labels: doc fix

#5030 Fix shared_credentials_file s3 auth
  backend/s3/s3.go
Labels: Remote: S3, bug

#4043 vfs: --vfs-used-is-size uses `rclone size` to give used space (full recursive listing)
  vfs/help.go
  vfs/vfs.go
  vfs/vfscommon/options.go
  vfs/vfsflags/vfsflags.go
Labels: VFS / mount, enhancement

#5038 Docs: Remove dead link from rc docs
  docs/content/rc.md
Labels: doc fix

#5040 Docs: directory filter rules
  docs/content/filtering.md
Labels: doc fix

#5059 zoho: fix custom client id's
  backend/zoho/zoho.go
Labels: Point Release Candidate, Remote: Zoho

#5053 docs: uppercase for MBytes
  docs/content/docs.md
Labels: doc fix

#5049 dropbox: add polling support - fixes #2949
  backend/dropbox/dropbox.go
  go.mod
  go.sum
Labels: Remote: Dropbox, fsnotify / events

#5058 fichier: implement copy & move
  backend/fichier/api.go
  backend/fichier/fichier.go
  backend/fichier/object.go
  backend/fichier/structs.go
  docs/content/overview.md
Labels: Remote: Fichier

#4675 chunker: allow for no-rename checkpoints on backends with slow rename
  backend/chunker/chunker.go
  backend/chunker/chunker_internal_test.go
  docs/content/chunker.md
  fstest/test_all/config.yaml
Labels: Remote: Chunker, Remote: S3, enhancement, metadata, versioning
