Repository rclone/rclone, pull requests merged in 2022-01, with the labels that each got.

#5875 vfs: Fix bug caused by vfs cache special character ("rune") escape ("quoting") inconsistency
  vfs/vfscache/cache.go
Labels: bug, VFS / mount

#5899 dlna: change icons to the newest ones
  cmd/serve/dlna/data/static/rclone-120x120.png
  cmd/serve/dlna/data/static/rclone-48x48.png
Labels: Serving

#5878 cmd: fix broken example link in help.go
  cmd/help.go
Labels: doc fix

#5752 librclone: allow empty string or null input instead of empty json object
  librclone/librclone/librclone.go
Labels: enhancement, API / rc, librclone

#5889 docs: align menu items when icons have different sizes
  docs/static/css/custom.css
Labels: doc fix

#5885 dedupe: add quit as a choice in interactive mode
  docs/content/commands/rclone_dedupe.md
  fs/operations/dedupe.go
Labels: enhancement, UX

#5711 docs/librclone: document use from C/C++ on Windows
  librclone/README.md
Labels: doc fix, librclone

#5753 docs/librclone: add -ldflags -s to suggested build command
  librclone/README.md
Labels: doc fix, librclone

#5894 docs/jottacloud: add note about upload only being supported on jotta device
  docs/content/jottacloud.md
Labels: doc fix, Remote: Jottacloud

#5924 config: fix display of config choices with empty help text
  fs/config/ui.go
Labels: bug, configuration

#5940 rc: Allow user to disable authentication for web gui
  fs/rc/rcserver/rcserver.go
Labels: enhancement, API / rc

#5946 document Content-MD5 workaround for object-lock enabled s3 buckets
  docs/content/s3.md
Labels: doc fix, Remote: S3

#5945 docs/serve: move help for template option into separate section
  cmd/serve/http/data/data.go
Labels: doc fix

#5941 http: improved recognition of url pointing to a single file
  backend/http/http.go
  backend/http/http_internal_test.go
  docs/content/http.md
Labels: bug, Remote: HTTP

#5957 docs: Use Adaptive Logo in README
  README.md
Labels: doc fix

#5944 docs: add label before options spec list
  cmd/help.go
Labels: doc fix
