Repository rclone/rclone, pull requests merged in 2022-08, with the labels that each got.

#6383 fix typo in filtering.md
  docs/content/filtering.md
Labels: doc fix

#6390 Update onedrive.md to fix a minor typo
  docs/content/onedrive.md
Labels: doc fix

#6399 Improve documentation of Anonymous FTP
  docs/content/ftp.md
Labels: doc fix, Remote: FTP

#6395 Jottcloud: Improve documentation of standard authentication
  docs/content/jottacloud.md
Labels: doc fix, Remote: Jottacloud

#6408 Document that serve sftp uses chunk size 32 KiB
  cmd/serve/sftp/sftp.go
Labels: doc fix, Remote: SFTP, Serving

#6414 Document that chunk_size should be left at default 32 KiB when using serve sftp
  backend/sftp/sftp.go
  cmd/serve/sftp/sftp.go
Labels: doc fix, Remote: SFTP
