Repository rclone/rclone, pull requests merged in 2022-11, with the labels that each got.

#6545 docs: fix typo `remove` in rclone_serve_restic command
  docs/content/commands/rclone_serve_restic.md
Labels: doc fix

#6539 Ncdu improvements
  cmd/ncdu/ncdu.go
  cmd/ncdu/scan/scan.go
Labels: enhancement

#6553 SFTP: Auto-detect shell type for fish
  backend/sftp/sftp.go
Labels: Remote: SFTP

#6567 azureblob: Add support for upload headers
  backend/azureblob/azureblob.go
  docs/content/azureblob.md
Labels: enhancement, Remote: Azure Blob

#6577 SMB: Fix issue where spurious dot directory is created
  backend/smb/smb.go
Labels: bug, Remote: SMB

#6589 Minor change in user facing output at ftp.go
  backend/ftp/ftp.go
Labels: doc fix, Remote: FTP
