Repository rclone/rclone, pull requests merged in 2022-02, with the labels that each got.

#5965 test: use `T.TempDir` to create temporary test directory
  backend/drive/drive_internal_test.go
  backend/union/union_internal_test.go
  backend/union/union_test.go
  cmd/mountlib/rc_test.go
  cmd/serve/restic/restic_appendonly_test.go
  cmd/serve/restic/restic_privaterepos_test.go
  cmdtest/cmdtest_test.go
  fs/rc/webgui/rc_test.go
  lib/file/file_test.go
  lib/file/mkdir_windows_test.go
Labels: enhancement, test issue

#5751 librclone: add support for mount commands
  librclone/README.md
  librclone/librclone.go
Labels: enhancement, librclone

#5958 docs: include all commands in online help top menu drop-down
  docs/layouts/chrome/navbar.html
Labels: doc fix
