Repository rclone/rclone, pull requests merged in 2022-10, with the labels that each got.

#6332 oracle-object-storage: Add a new native backend -fixes #6299
  README.md
  backend/all/all.go
  backend/oracleobjectstorage/client.go
  backend/oracleobjectstorage/command.go
  backend/oracleobjectstorage/copy.go
  backend/oracleobjectstorage/object.go
  backend/oracleobjectstorage/options.go
  backend/oracleobjectstorage/oracleobjectstorage.go
  backend/oracleobjectstorage/oracleobjectstorage_test.go
  backend/oracleobjectstorage/oracleobjectstorage_unsupported.go
  backend/oracleobjectstorage/waiter.go
  docs/content/oracleobjectstorage.md
  fstest/test_all/config.yaml
  go.mod
  go.sum
Labels: new backend

#6505 install.sh: fix arm-v7 download
  docs/content/install.sh
Labels: bug, build

#6506 docs: Describe connection strings in alias backend
  docs/content/alias.md
Labels: doc fix

#6513 Setup go v3 fix
  .github/workflows/build.yml
Labels: build

#6507 Clean absolute paths in local backend
  backend/local/local.go
Labels: bug, Remote: Local filesystem
