Repository rclone/rclone, pull requests merged in 2022-06, with the labels that each got.

#6208 Verbosity environment variable information
  docs/content/docs.md
Labels: doc fix

#5638 docs: clearify backend support for setting modtime only
  docs/content/overview.md
Labels: doc fix

#6211 Config UI readability
  fs/config/ui.go
Labels: UX, configuration

#6227 Complete list of optional features (Akamai Netstorage, Koofr and Sia)
  docs/content/overview.md
Labels: doc fix

#5796 cmd/ncdu: display correct path in delete confirmation dialog
  cmd/ncdu/ncdu.go
Labels: bug, UX

#6236 Use variable type int instead of time.Duration for keeping number of seconds
  backend/mailru/mailru.go
Labels: Remote: Mailru

#6238 Remove legacy OS X remnants from mount code
  cmd/mount/dir.go
  cmd/mount/file.go
  cmd/mount/mount.go
Labels: VFS / mount, refactoring

#5983 s3: add note about chunk size decreasing progress accuracy
  backend/s3/s3.go
Labels: doc fix

#5930 Added doc about client ID for OneDrive Business
  docs/content/onedrive.md
Labels: doc fix

#5947 opendrive: resolve lag and truncate bugs fixes #5936
  backend/opendrive/opendrive.go
Labels: Remote: OpenDrive

#5932 Update drive.md - Internal OAuth consent screen
  docs/content/drive.md
Labels: doc fix, Remote: Drive

#5976 drive: moved rclone_folder_id to advanced section fixes #3463
  backend/drive/drive.go
  docs/content/drive.md
Labels: Remote: Drive, configuration
