Repository rclone/rclone, pull requests merged in 2022-12, with the labels that each got.

#6453 ftp: Improve performance of findItem
  backend/ftp/ftp.go
Labels: enhancement, Remote: FTP

#6393 Reduce S3 mounts memory consumption by 75%
  backend/s3/s3.go
Labels: Remote: S3, refactoring

#6591 Add global flag '--color'
  cmd/tree/tree.go
  docs/content/commands/rclone_tree.md
  docs/content/docs.md
  docs/content/flags.md
  fs/config.go
  fs/config/configflags/configflags.go
  fs/terminalcolormode.go
  fs/terminalcolormode_test.go
  lib/terminal/terminal.go
Labels: enhancement, UX

#6449 Stricter check for remote names with leading/trailing space
  backend/drive/drive.go
  docs/content/docs.md
  fs/fspath/path.go
  fs/fspath/path_test.go
Labels: refactoring

#6642 docs: show only significant parts of version number in version introduced label
  docs/content/bisync.md
  docs/content/chunker.md
  docs/content/combine.md
  docs/content/compress.md
  docs/content/docker.md
  docs/content/fichier.md
  docs/content/filefabric.md
  docs/content/googlephotos.md
  docs/content/gui.md
  docs/content/hasher.md
  docs/content/hdfs.md
  docs/content/hidrive.md
  docs/content/internetarchive.md
  docs/content/koofr.md
  docs/content/mailru.md
  docs/content/memory.md
  docs/content/netstorage.md
  docs/content/oracleobjectstorage.md
  docs/content/premiumizeme.md
  docs/content/putio.md
  docs/content/seafile.md
  docs/content/sharefile.md
  docs/content/sia.md
  docs/content/smb.md
  docs/content/storj.md
  docs/content/sugarsync.md
  docs/content/tardigrade.md
  docs/content/uptobox.md
  docs/content/zoho.md
Labels: doc fix

#6654 backend/local: fix %!w(<nil>) in "failed to read directory" error
  backend/local/local.go
Labels: bug, Remote: Local filesystem
