Repository rclone/rclone, pull requests merged in 2022-07, with the labels that each got.

#6270 Jottacloud: Always store username in config and use it to avoid initial api request
  backend/jottacloud/jottacloud.go
Labels: bug, enhancement, Remote: Jottacloud

#6314 docs: fix links to mount command from install docs
  docs/content/install.md
Labels: doc fix

#6288 drive: Raise fatal error when quota exceeded
  backend/drive/drive.go
  backend/drive/drive_internal_test.go
Labels: Remote: Drive

#6324 sftp: fix issue with WS_FTP by working around failing RealPath
  backend/sftp/sftp.go
Labels: bug, Remote: SFTP

#6317 Jottacloud: Fix legacy authentication
  backend/jottacloud/jottacloud.go
Labels: bug, Remote: Jottacloud
