Repository rclone/rclone, pull requests merged in 2022-09, with the labels that each got.

#6432 ftp: Add force_list_hidden option
  backend/ftp/ftp.go
  docs/content/flags.md
  docs/content/ftp.md
  go.mod
  go.sum
Labels: enhancement, Remote: FTP

#6428 build: fix lint option max-issues-per-linter
  .golangci.yml
Labels: build

#6421 Docs: Better alignment of icons
  docs/layouts/chrome/menu.html
  docs/layouts/chrome/navbar.html
  docs/static/css/custom.css
Labels: doc fix

#6467 docs: improve description of make command in install docs
  docs/content/install.md
Labels: doc fix

#6448 smb: add support for SMB
  README.md
  backend/all/all.go
  backend/smb/connpool.go
  backend/smb/smb.go
  backend/smb/smb_test.go
  bin/make_manual.py
  docs/content/_index.md
  docs/content/docs.md
  docs/content/overview.md
  docs/content/smb.md
  docs/layouts/chrome/navbar.html
  fstest/test_all/config.yaml
  fstest/testserver/init.d/TestSMB
  go.mod
  go.sum
Labels: new backend
