Repository rclone/rclone, pull requests merged in 2023-02, with the labels that each got.

#6736 smb backend: Check if the connection is closed
  backend/smb/connpool.go
Labels: bug, Remote: SMB

#6738 Avoid running workflow twice for pull requests with branch on main repo
  .github/workflows/build.yml
Labels: enhancement, build

#6742 build: update to go1.20
  .github/workflows/build.yml
Labels: build

#6385 Avoid negative ETA values for very slow speeds
  fs/accounting/stats.go
  fs/accounting/stats_test.go
  fs/parseduration.go
  fs/parseduration_test.go
Labels: bug, stats

#6752 Show human readable elapsed time when longer than a day
  fs/accounting/stats.go
Labels: enhancement, stats

#6759 Improve explanation of windows filesystem permissions
  cmd/mountlib/help.go
Labels: doc fix, VFS / mount

#6761 docs: update drive.md instructions
  docs/content/drive.md
Labels: doc fix, Remote: Drive

#6777 fix vulnerablities: upgrade golang.org/x/net@v0.5.0 to golang.org/x/net@v0.7.0
  go.mod
  go.sum
Labels: security

#6770 oracle-object-storage: support for bring your own encryption keys
  backend/oracleobjectstorage/byok.go
  backend/oracleobjectstorage/client.go
  backend/oracleobjectstorage/copy.go
  backend/oracleobjectstorage/object.go
  backend/oracleobjectstorage/options.go
  backend/oracleobjectstorage/oracleobjectstorage.go
  docs/content/oracleobjectstorage.md
  go.mod
  go.sum
Labels: enhancement, Remote: Oracle Object Storage
