Repository rclone/rclone, pull requests merged in 2023-03, with the labels that each got.

#6858 build: run workflow even if tag/branch name contains slash
  .github/workflows/build.yml
Labels: build

#6860 Jottacloud: Avoid returning error when option no_versions and remove fail
  backend/jottacloud/jottacloud.go
Labels: Remote: Jottacloud

#6881 build: set Rclone as file description since it is shown as process name in task manager
  bin/cross-compile.go
Labels: build, OS: Windows

#6402 Document how the configuration file is written, and that an .old file will be deleted
  docs/content/docs.md
Labels: doc fix, configuration

#6396 Doc update: Install with docker: interactive use
  docs/content/install.md
Labels: doc fix

#6277 Use jwt-go (golang-jwt) instead of deprecated jws (x/oauth2/jws)
  .golangci.yml
  backend/box/box.go
  go.mod
  lib/jwtutil/jwtutil.go
Labels: refactoring

#6901 backend: allow specifying SSH host key algorithms to use for sftp
  backend/sftp/sftp.go
Labels: enhancement, Remote: SFTP
