Repository rclone/rclone, pull requests merged in 2024-08, with the labels that each got.

#8006 Add automatic alias redirects for command pages
  cmd/gendocs/gendocs.go
Labels: doc fix

#8001 Minor improvements to command docs layout
  cmd/gendocs/gendocs.go
Labels: doc fix

#8002 Consistent newline of first line in command help output
  cmd/about/about.go
  cmd/authorize/authorize.go
  cmd/backend/backend.go
  cmd/cachestats/cachestats.go
  cmd/cat/cat.go
  cmd/check/check.go
  cmd/checksum/checksum.go
  cmd/cleanup/cleanup.go
  cmd/config/config.go
  cmd/copy/copy.go
  cmd/copyto/copyto.go
  cmd/copyurl/copyurl.go
  cmd/cryptcheck/cryptcheck.go
  cmd/cryptdecode/cryptdecode.go
  cmd/dedupe/dedupe.go
  cmd/delete/delete.go
  cmd/deletefile/deletefile.go
  cmd/genautocomplete/genautocomplete.go
  cmd/genautocomplete/genautocomplete_bash.go
  cmd/genautocomplete/genautocomplete_fish.go
  cmd/genautocomplete/genautocomplete_powershell.go
  cmd/genautocomplete/genautocomplete_zsh.go
  cmd/gendocs/gendocs.go
  cmd/hashsum/hashsum.go
  cmd/help.go
  cmd/link/link.go
  cmd/listremotes/listremotes.go
  cmd/ls/ls.go
  cmd/lsd/lsd.go
  cmd/lsf/lsf.go
  cmd/lsl/lsl.go
  cmd/md5sum/md5sum.go
  cmd/move/move.go
  cmd/moveto/moveto.go
  cmd/ncdu/ncdu.go
  cmd/purge/purge.go
  cmd/rc/rc.go
  cmd/rcat/rcat.go
  cmd/rmdir/rmdir.go
  cmd/rmdirs/rmdirs.go
  cmd/settier/settier.go
  cmd/sha1sum/sha1sum.go
  cmd/size/size.go
  cmd/sync/sync.go
  cmd/test/info/info.go
  cmd/touch/touch.go
  cmd/tree/tree.go
  cmd/version/version.go
Labels: doc fix

#8013 Fix alignment of some of the icons in the storage system dropdown
  docs/layouts/chrome/navbar.html
Labels: doc fix

#8015 Update backend config samples
  docs/content/alias.md
  docs/content/azureblob.md
  docs/content/b2.md
  docs/content/box.md
  docs/content/combine.md
  docs/content/drive.md
  docs/content/dropbox.md
  docs/content/fichier.md
  docs/content/filefabric.md
  docs/content/ftp.md
  docs/content/googlecloudstorage.md
  docs/content/googlephotos.md
  docs/content/hdfs.md
  docs/content/hidrive.md
  docs/content/http.md
  docs/content/internetarchive.md
  docs/content/jottacloud.md
  docs/content/mailru.md
  docs/content/mega.md
  docs/content/memory.md
  docs/content/onedrive.md
  docs/content/opendrive.md
  docs/content/pcloud.md
  docs/content/premiumizeme.md
  docs/content/protondrive.md
  docs/content/qingstor.md
  docs/content/quatrix.md
  docs/content/s3.md
  docs/content/sftp.md
  docs/content/sharefile.md
  docs/content/storj.md
  docs/content/sugarsync.md
  docs/content/union.md
  docs/content/webdav.md
  docs/content/yandex.md
  docs/content/zoho.md
Labels: doc fix

#8014 Make tardigrade page auto redirect to storj page
  docs/content/storj.md
  docs/content/tardigrade.md
Labels: doc fix

#8033 bisync: don't convert modtime precision in listings - fixes #8025
  cmd/bisync/listing.go
  docs/content/bisync.md
Labels: bug, Remote: Dropbox, bisync

#8037 Implement custom user agent for yandex. May help with upload speeds
  backend/yandex/yandex.go
  docs/content/yandex.md
Labels: Remote: Yandex Disk
