Repository rclone/rclone, pull requests merged in 2024-09, with the labels that each got.

#8045 Document that paths using volume guids are supported
  docs/content/local.md
Labels: doc fix, Remote: Local filesystem, OS: Windows

#7786 docs: group the different options affecting lsjson output
  cmd/lsjson/lsjson.go
Labels: doc fix

#8057 Fix setting of metadata on server side move in Jottacloud
  backend/jottacloud/jottacloud.go
Labels: bug, Remote: Jottacloud

#8080 `local`: fix `--copy-links` on macOS when cloning
  backend/local/clone_darwin.go
  backend/local/local_internal_test.go
Labels: bug, Remote: Local filesystem, Point Release Candidate, OS: Mac, LocalFS

#7668 `fs/cache`: fix parent not getting pinned when remote is a file & `hasher`: look for cached hash if passed hash unexpectedly blank
  fs/cache/cache.go
  fs/cache/cache_test.go
  fs/rc/cache_test.go
  lib/cache/cache.go
Labels: bug, Point Release Candidate, hashing, Remote: Hasher
