Repository rclone/rclone, pull requests merged in 2024-04, with the labels that each got.

#7706 docs: Add R2 note about no_check_bucket
  docs/content/s3.md
Labels: doc fix

#7703 `onedrive`: fix `--metadata-mapper` called twice if writing permissions
  backend/onedrive/metadata.go
  backend/onedrive/metadata.md
  backend/onedrive/onedrive.go
  backend/onedrive/onedrive_internal_test.go
  fs/log.go
Labels: bug, Remote: One Drive, metadata

#7727 Ensure empty line between text and a following heading
  cmd/mountlib/mount.go
  cmd/mountlib/mount.md
  cmd/rcd/rcd.go
  cmd/serve/dlna/dlna.go
  cmd/serve/dlna/dlnaflags/dlnaflags.go
  cmd/serve/docker/docker.go
  cmd/serve/ftp/ftp.go
  cmd/serve/http/http.go
  cmd/serve/nfs/nfs.go
  cmd/serve/proxy/proxy.go
  cmd/serve/restic/restic.go
  cmd/serve/s3/s3.go
  cmd/serve/sftp/sftp.go
  cmd/serve/webdav/webdav.go
  lib/http/auth.go
  lib/http/server.go
  lib/http/template.go
  vfs/vfs.go
Labels: doc fix

#7739 bisync: fix io.PipeWriter not getting closed on tests
  cmd/bisync/bilib/output.go
Labels: bug, integration, concurrency, bisync

#7756 `onedrive`: set all metadata permissions and return error summary
  backend/onedrive/metadata.go
Labels: enhancement, Remote: One Drive, metadata

#7747 lsjson: small docs change to clarify options
  cmd/lsjson/lsjson.go
Labels: doc fix

#7779 build: remove separate go module cache step as its done by setup-go
  .github/workflows/build.yml
Labels: github_actions

#7774 bisync: yet another round of integration test fixes
  cmd/bisync/bisync_test.go
Labels: integration, test issue, bisync

#7808 Document that newer Linux kernel version is required for ARMv5
  docs/content/downloads.md
Labels: doc fix
