Repository rclone/rclone, pull requests merged in 2024-03, with the labels that each got.

#7647 adjusted cmd/bisync/log.go indent function to be more expressive abou…
  cmd/bisync/log.go
  cmd/bisync/testdata/test_dry_run/golden/test.log
  cmd/bisync/testdata/test_filtersfile_checks/golden/test.log
Labels: UX, terminal, bisync

#7620 vfs: fix unicode normalization on macOS - fixes #7072
  cmd/cmount/mount.go
  cmd/mountlib/mount.md
  fs/operations/check.go
  vfs/dir.go
  vfs/vfs.md
  vfs/vfs_case_test.go
  vfs/vfscommon/options.go
  vfs/vfsflags/vfsflags.go
Labels: bug, VFS / mount, OS: Mac, Serving, encoding

#7657 sync: don't set dir modtimes if already set
  cmd/bisync/bisync_test.go
  cmd/bisync/testdata/test_all_changed/golden/test.log
  cmd/bisync/testdata/test_basic/golden/test.log
  cmd/bisync/testdata/test_check_access/golden/test.log
  cmd/bisync/testdata/test_check_access_filters/golden/test.log
  cmd/bisync/testdata/test_check_filename/golden/test.log
  cmd/bisync/testdata/test_createemptysrcdirs/golden/test.log
  cmd/bisync/testdata/test_extended_char_paths/golden/test.log
  cmd/bisync/testdata/test_extended_filenames/golden/test.log
  cmd/bisync/testdata/test_filters/golden/test.log
  cmd/bisync/testdata/test_filtersfile_checks/golden/test.log
  cmd/bisync/testdata/test_ignorelistingchecksum/golden/test.log
  cmd/bisync/testdata/test_normalization/golden/test.log
  cmd/bisync/testdata/test_rclone_args/golden/test.log
  cmd/bisync/testdata/test_rmdirs/golden/test.log
  fs/config/configflags/configflags.go
  fs/operations/operations.go
  fs/operations/operations_test.go
  fs/sync/sync.go
  fs/sync/sync_test.go
Labels: metadata, change detection

#7663 `combine`: fix `operations.DirMove` across upstreams - fixes #7661
  fs/operations/operations.go
  fs/operations/operations_test.go
Labels: bug, VFS / mount

#7653 onedrive: add metadata support
  backend/onedrive/api/types.go
  backend/onedrive/metadata.go
  backend/onedrive/metadata.md
  backend/onedrive/onedrive.go
  backend/onedrive/onedrive_internal_test.go
  docs/content/onedrive.md
  docs/content/overview.md
  fs/log.go
Labels: Remote: One Drive, new feature, metadata

#7680 docs: sftp, clarify `shell_type = none` and `ssh = ` behaviour
  docs/content/sftp.md
Labels: doc fix, Remote: SFTP

#7690 `memory`: fix dst mutating src after server-side copy
  backend/memory/memory.go
  fstest/fstests/fstests.go
Labels: bug, maintenance, integration

#7670 `memory`: fix deadlock in `operations.Purge`
  backend/memory/memory.go
  backend/memory/memory_internal_test.go
Labels: bug, concurrency

#7688 `memory`: fix incorrect list entries when rooted at subdirectory
  backend/memory/memory.go
  fstest/fstests/fstests.go
Labels: bug, maintenance, integration

#7633 drive: add an indication in case of recursive shortcuts in documentation
  docs/content/drive.md
Labels: doc fix, Remote: Drive

#7708 Add ending period on description option help text
  fs/registry.go
Labels: UX

#7707 Show more user friendly names of custom types in config ui
  fs/config/ui.go
Labels: UX

#7711 bisync: several fixes for integration tests
  cmd/bisync/bisync_test.go
  cmd/bisync/resolve.go
  cmd/bisync/testdata/bisync_vscode_debuggers_launch.json
Labels: bug, integration, bisync

#7701 s3: update Scaleway's configuration options - fixes #7507
  backend/s3/s3.go
  docs/content/s3.md
Labels: doc fix

#7713 bisync: more fixes for integration tests
  cmd/bisync/bisync_test.go
Labels: bug, integration, bisync
