Repository rclone/rclone, pull requests merged in 2024-10, with the labels that each got.

#7717 backend: Add Apple iCloud Drive backend
  README.md
  backend/all/all.go
  backend/iclouddrive/api/client.go
  backend/iclouddrive/api/drive.go
  backend/iclouddrive/api/session.go
  backend/iclouddrive/iclouddrive.go
  backend/iclouddrive/iclouddrive_test.go
  backend/iclouddrive/iclouddrive_unsupported.go
  bin/make_manual.py
  docs/content/_index.md
  docs/content/docs.md
  docs/content/iclouddrive.md
  docs/content/overview.md
  docs/layouts/chrome/navbar.html
  fstest/test_all/config.yaml
Labels: new backend

#8112 Build workflow cleanup
  .github/workflows/build.yml
Labels: build, refactoring

#8130 fix issue 8129 by using correct forward refs in sec 9 of using
  docs/content/drive.md
Labels: doc fix, Remote: Drive

#8131 Add Wasabi eu-south-1 region
  backend/s3/s3.go
Labels: Remote: S3

#8140 docs: instructs avoiding inline comments in a filter-file
  docs/content/filtering.md
Labels: doc fix
