Repository rclone/rclone, pull requests merged in 2025-02, with the labels that each got.

#8166 Added parallel docker builds and caching for go build in the container
  .github/workflows/build_publish_beta_docker_image.yml
  .github/workflows/build_publish_docker_image.yml
  .github/workflows/build_publish_docker_plugin.yml
  .github/workflows/build_publish_release_docker_image.yml
  Dockerfile
Labels: build

#8366 bisync: fix listings missing concurrent modifications - fixes #8359
  cmd/bisync/bisync_test.go
  cmd/bisync/deltas.go
  cmd/bisync/operations.go
  cmd/bisync/testdata/test_concurrent/golden/_testdir_path1.._testdir_path2.copy2to1.que
  cmd/bisync/testdata/test_concurrent/golden/_testdir_path1.._testdir_path2.path1.lst
  cmd/bisync/testdata/test_concurrent/golden/_testdir_path1.._testdir_path2.path1.lst-new
  cmd/bisync/testdata/test_concurrent/golden/_testdir_path1.._testdir_path2.path1.lst-old
  cmd/bisync/testdata/test_concurrent/golden/_testdir_path1.._testdir_path2.path2.lst
  cmd/bisync/testdata/test_concurrent/golden/_testdir_path1.._testdir_path2.path2.lst-new
  cmd/bisync/testdata/test_concurrent/golden/_testdir_path1.._testdir_path2.path2.lst-old
  cmd/bisync/testdata/test_concurrent/golden/test.log
  cmd/bisync/testdata/test_concurrent/initial/RCLONE_TEST
  cmd/bisync/testdata/test_concurrent/initial/file1.txt
  cmd/bisync/testdata/test_concurrent/initial/file2.txt
  cmd/bisync/testdata/test_concurrent/initial/file3.txt
  cmd/bisync/testdata/test_concurrent/initial/file4.txt
  cmd/bisync/testdata/test_concurrent/initial/file5.txt
  cmd/bisync/testdata/test_concurrent/initial/file6.txt
  cmd/bisync/testdata/test_concurrent/initial/file7.txt
  cmd/bisync/testdata/test_concurrent/initial/file8.txt
  cmd/bisync/testdata/test_concurrent/modfiles/dummy.txt
  cmd/bisync/testdata/test_concurrent/modfiles/file1.txt
  cmd/bisync/testdata/test_concurrent/modfiles/file10.txt
  cmd/bisync/testdata/test_concurrent/modfiles/file11.txt
  cmd/bisync/testdata/test_concurrent/modfiles/file2.txt
  cmd/bisync/testdata/test_concurrent/modfiles/file5L.txt
  cmd/bisync/testdata/test_concurrent/modfiles/file5R.txt
  cmd/bisync/testdata/test_concurrent/modfiles/file6.txt
  cmd/bisync/testdata/test_concurrent/modfiles/file7.txt
  cmd/bisync/testdata/test_concurrent/scenario.txt
  docs/content/bisync.md
Labels: bug, Point Release Candidate, change detection, bisync

#8375 bisync: fix false positive on integration tests
  backend/chunker/chunker.go
  backend/drive/drive.go
  backend/sugarsync/sugarsync.go
  cmd/bisync/bisync_test.go
  cmd/bisync/deltas.go
Labels: maintenance, integration, test issue, bisync
