Repository rclone/rclone, pull requests merged in 2025-03, with the labels that each got.

#8423 cmd/gitannex: Tweak remote parsing to accept any backend
  cmd/gitannex/gitannex.go
  cmd/gitannex/gitannex_test.go
Labels: integration, git-annex

#8433 http: correct root if definitely pointing to a file - fixes #8428
  backend/http/http.go
Labels: bug, Remote: HTTP

#8430 cmd/gitannex: Fix two ways that tests can hang
  cmd/gitannex/gitannex_test.go
Labels: test issue, git-annex
