Repository rclone/rclone, pull requests merged in 2025-07, with the labels that each got.

#8658 webdav: send the modtime of local object instead of remote
  backend/webdav/webdav.go
Labels: bug, Remote: WebDAV, Point Release Candidate

#7599 Check: Report differences and error counts separately
  fs/operations/check.go
Labels: UX

#8207 Explain the json log format in more detail
  docs/content/docs.md
Labels: doc fix

#8677 Fix incorrect json syntax in sample output in rc command docs
  docs/content/rc.md
Labels: doc fix
